Metering Point Type
Codes according to ebIX:

E17 Consumption
E18 Production
E19 Combined
E20 Exchange

In [ ]:
import pandas as pd
df_production=pd.read_csv('municipalities_production.csv')
df_production

,type,id,municipalityNumber,name,nameNo,startTime,endTime,meteringPointTypeCode,quantityKwh,lastUpdatedTime
0,municipality,1103,1103,Stavanger,Stavanger,2021-01-01T00:00:00+01:00,2021-01-01T01:00:00+01:00,E19,0.000,2025-03-30T11:46:56+02:00
1,municipality,1103,1103,Stavanger,Stavanger,2021-01-01T01:00:00+01:00,2021-01-01T02:00:00+01:00,E19,0.000,2025-03-30T11:46:56+02:00
2,municipality,1103,1103,Stavanger,Stavanger,2021-01-01T02:00:00+01:00,2021-01-01T03:00:00+01:00,E19,0.000,2025-03-30T11:46:56+02:00
3,municipality,1103,1103,Stavanger,Stavanger,2021-01-01T03:00:00+01:00,2021-01-01T04:00:00+01:00,E19,0.000,2025-03-30T11:46:56+02:00
4,municipality,1103,1103,Stavanger,Stavanger,2021-01-01T04:00:00+01:00,2021-01-01T05:00:00+01:00,E19,0.000,2025-03-30T11:46:56+02:00
...,...,...,...,...,...,...,...,...,...,...
9028103,municipality,5605,5605,Sør-Varanger,Sør-Varanger,2025-05-31T19:00:00+02:00,2025-05-31T20:00:00+02:00,E19,0.040,2025-06-01T17:56:32+02:00
9028104,municipality,5605,5605,Sør-Varanger,Sør-Varanger,2025-05-31T20:00:00+02:00,2025-05-31T21:00:00+02:00,E19,0.036,2025-06-01T17:56:32+02:00
9028105,municipality,5605,5605,Sør-Varanger,Sør-Varanger,2025-05-31T21:00:00+02:00,2025-05-31T22:00:00+02:00,E19,0.058,2025-06-01T17:56:32+02:00
9028106,municipality,5605,5605,Sør-Varanger,Sør-Varanger,2025-05-31T22:00:00+02:00,2025-05-31T23:00:00+02:00,E19,0.001,2025-06-01T17:56:32+02:00
9028107,municipality,5605,5605,Sør-Varanger,Sør-Varanger,2025-05-31T23:00:00+02:00,2025-06-01T00:00:00+02:00,E19,0.000,2025-06-01T17:56:32+02:00

In [19]:
alesund_production = df_production[df_production['name'] == 'Ålesund'][[
    'startTime', 'endTime', 'meteringPointTypeCode', 'quantityKwh'
]].copy()

alesund_production

,startTime,endTime,meteringPointTypeCode,quantityKwh
12408,2021-01-29T00:00:00+01:00,2021-01-29T01:00:00+01:00,E19,0.000
12409,2021-01-29T01:00:00+01:00,2021-01-29T02:00:00+01:00,E19,0.000
12410,2021-01-29T02:00:00+01:00,2021-01-29T03:00:00+01:00,E19,0.000
12411,2021-01-29T03:00:00+01:00,2021-01-29T04:00:00+01:00,E19,0.000
12412,2021-01-29T04:00:00+01:00,2021-01-29T05:00:00+01:00,E19,0.000
...,...,...,...,...
9022199,2025-05-31T19:00:00+02:00,2025-05-31T20:00:00+02:00,E19,221.835
9022200,2025-05-31T20:00:00+02:00,2025-05-31T21:00:00+02:00,E19,76.714
9022201,2025-05-31T21:00:00+02:00,2025-05-31T22:00:00+02:00,E19,12.910
9022202,2025-05-31T22:00:00+02:00,2025-05-31T23:00:00+02:00,E19,0.040
9022203,2025-05-31T23:00:00+02:00,2025-06-01T00:00:00+02:00,E19,0.130

In [14]:
alesund_production['meteringPointTypeCode'].unique()

array(['E19'], dtype=object)

In [20]:
#  convertir en datetime avec UTC
alesund_production['startTime'] = pd.to_datetime(alesund_production['startTime'], utc=True)
alesund_production['endTime'] = pd.to_datetime(alesund_production['endTime'], utc=True)

#  supprimer l'information de timezone (résultat : datetime naive)
alesund_production['startTime'] = alesund_production['startTime'].dt.tz_localize(None)
alesund_production['endTime'] = alesund_production['endTime'].dt.tz_localize(None)

In [22]:
# Supprimer la colonne 'endTime'
alesund_production.drop(columns=['endTime'], inplace=True)

# Renommer la colonne 'startTime' en 'Date'
alesund_production.rename(columns={'startTime': 'Date'}, inplace=True)

In [23]:
alesund_production

                       Date meteringPointTypeCode  quantityKwh
12408   2021-01-28 23:00:00                   E19        0.000
12409   2021-01-29 00:00:00                   E19        0.000
12410   2021-01-29 01:00:00                   E19        0.000
12411   2021-01-29 02:00:00                   E19        0.000
12412   2021-01-29 03:00:00                   E19        0.000
...                     ...                   ...          ...
9022199 2025-05-31 17:00:00                   E19      221.835
9022200 2025-05-31 18:00:00                   E19       76.714
9022201 2025-05-31 19:00:00                   E19       12.910
9022202 2025-05-31 20:00:00                   E19        0.040
9022203 2025-05-31 21:00:00                   E19        0.130

[38015 rows x 3 columns]

In [ ]:
alesund_production.to_csv('production_alesund_kwh.csv')

In [2]:
import pandas as pd

In [ ]:
df_capacity=pd.read_csv('municipalities_installed_capacity.csv')
df_capacity

,type,id,municipalityNumber,name,nameNo,usageDateId,municipalityId,meteringPointTypeCode,productionGroup,installedCapacity,lastUpdatedTime
0,municipality,5632,5632,Båtsfjord,Båtsfjord,20210101,5632,E18,wind,120000.0,2025-06-02T08:28:23+02:00
1,municipality,1563,1563,Sunndal,Sunndal,20210101,1563,E18,hydro,514585.0,2025-06-02T08:28:23+02:00
2,municipality,1563,1563,Sunndal,Sunndal,20210101,1563,E19,solar,15.0,2025-06-02T08:28:23+02:00
3,municipality,1836,1836,Rødøy,Rødøy,20210101,1836,E18,hydro,93671.0,2025-06-02T08:28:23+02:00
4,municipality,1836,1836,Rødøy,Rødøy,20210101,1836,E19,solar,12.0,2025-06-02T08:28:23+02:00
...,...,...,...,...,...,...,...,...,...,...,...
1271167,municipality,4212,4212,Vegårshei,Vegårshei,20250602,4212,E19,solar,267.0,2025-06-02T14:27:27+02:00
1271168,municipality,4633,4633,Fedje,Fedje,20250602,4633,E19,solar,38.0,2025-06-02T14:27:27+02:00
1271169,municipality,3234,3234,Lunner,Lunner,20250602,3234,E19,solar,1730.0,2025-06-02T14:27:27+02:00
1271170,municipality,3454,3454,Vang,Vang,20250602,3454,E19,solar,549.0,2025-06-02T14:27:27+02:00
1271171,municipality,3454,3454,Vang,Vang,20250602,3454,E18,hydro,82000.0,2025-06-02T14:27:27+02:00

In [4]:
df_capacity['usageDateId'] = pd.to_datetime(df_capacity['usageDateId'], format='%Y%m%d')

In [5]:
alesund_capacity=df_capacity[df_capacity['name'] =='Ålesund'][['usageDateId', 'meteringPointTypeCode', 'productionGroup','installedCapacity']].copy()
alesund_capacity

        usageDateId meteringPointTypeCode productionGroup  installedCapacity
325      2021-01-01                   E18           hydro           221501.0
326      2021-01-01                   E19           solar              411.0
327      2021-01-01                   E18         thermal             4300.0
328      2021-01-01                   E18            wind             3750.0
1179     2021-01-02                   E18         thermal             4300.0
...             ...                   ...             ...                ...
1269405  2025-06-01                   E19           solar             2471.0
1270408  2025-06-02                   E18         thermal             6340.0
1270409  2025-06-02                   E18           hydro           221501.0
1270410  2025-06-02                   E19           solar             2471.0
1270411  2025-06-02                   E18            wind             3750.0

[5588 rows x 4 columns]

In [ ]:
alesund_capacity['productionGroup'].unique()

array(['hydro', 'solar', 'thermal', 'wind', 'other'], dtype=object)

In [ ]:
alesund_capacity.to_csv('installed_capacity_Alesund.csv')  # Sauvegarde du DataFrame